
@font-face {
  font-family: 'ReadexPro';
  src: local('ReadexPro Regular'), local('ReadexPro-Regular'),
      url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
      url('../fonts/ReadexPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter28pt';
  src: local('Inter28pt Regular'), local('Inter28pt-Regular'),
      url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
      url('../fonts/Inter28pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

