@import "fonts.css";

.header__top {
  padding-top: 30px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 28px;
}
.header__logo {
  display: flex;
  align-items: center;
  max-width: 170px;
  z-index: 9;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}
.nav__item {
  font-family: 'Inter18pt', sans-serif;
  line-height: 16.8px;
  text-transform: uppercase;

}
.nav__link {
  display: block;
  /* Увеличили область нажатия */
  padding: 5px 0;
  position: relative;
}
.nav__link::after {
  content: url("../img/icons/arrow-bottom.svg");
  position: absolute;
  right: -16px;

  opacity: 0;
  transition: all .4s;
}
.nav__link:hover::after {
  opacity: 1;
  transition: all .4s;
}

.burger-icon {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 11;
  position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: #000000;
  transition: all .4s;
  position: absolute;
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.nav__buttons {

}
.nav__buttons-list {
  display: flex;
  gap: 21px;
}
.nav__buttons-item {
  
}
.nav__buttons-link {
  display: flex;
}

/* ======слайдер===================== */

.header__hero {

}
.hero {
  padding-top: 57px;
}
.hero__slider {
  width: 100%;
  height: 550px;
  background: #dce5e2;
  border: 1px solid #000;
  border-radius: 32px;
  position: relative;
  margin-bottom: 75px;
}
.swiper {
}
.hero__wrapper {

}
.swiper-wrapper {
}
.hero__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.hero__inner {
  position: relative;
}
.hero__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  position: absolute;
  padding: 0 18px;
}

.hero__info {
  max-width: 644px;
  padding: 0 0 0 56px; 
  z-index: 15;
}
.hero__title {
  font-family:'ReadexPro', sans-serif;
  font-size: 58px;
  line-height: 69.6px;
  margin-bottom: 19px;
}
.hero__text {
  font-family: 'Inter18pt', sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  padding-bottom: 30px;
}
.hero__button {
  width: 170px;
  height: 50px;
  font-family: 'Inter18pt' sans-serif;
  line-height: 19.2px;
}

.hero__img {
  display: flex;
  align-items: end;
  height: 100%;
  /* z-index: 5; */
}
.hero__img img {
  width: 100%;
  display: flex;
  align-self: flex-end;
}
.hero__prev, 
.hero__next {
  /* cursor: auto; */
  background-color: transparent;
  z-index: 2;
}

/* ================= */

/* ================ */
.hero__next {

}

/* Стили для пагинации */

.swiper-pagination {
  position: absolute;
  padding: 0 0 17px;
  z-index: 15;
  /* background: rgba(0, 0, 0, 0.2); Полупрозрачный фон */
  /* border-radius: ; */
}
.swiper-pagination-bullet {
  border-radius: 0;
  background: transparent;
  width: 194px;
  height: 2px;
  background: #757575; /* Цвет неактивной точки */
  opacity: 1;
  margin: 5px 17px !important;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: #000000; /*Цвет активной точки*/
  transform: scale(1.2); /*Увеличиваем активную точку*/
}